<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  <style>
    body {
      font-family: monospace;
      text-align: center;
      margin: 2em;
      background-color: #111;
      color: #0f0;
    }
    .ascii {
      white-space: pre;
      font-size: 14px;
      margin-bottom: 1em;
    }
    .blue-ascii {
  color: #66ccff;
  text-shadow: 0 0 5px #66ccff, 0 0 10px #3399ff;
    }
  </style>
  </head>
  <body>
    <div class="ascii">
<pre class="ascii-logo blue-ascii">
        ,----,                                                                                       
      ,/   .`|                                                                                       
    ,`   .'  :                           ,----..                                                     
  ;    ;     /                          /   /   \                                 ,--,         ,---, 
.'___,/    ,' __  ,-.                  /   .     :            ,--,              ,--.'|       ,---.'| 
|    :     |,' ,'/ /|                 .   /   ;.  \         ,'_ /|              |  |,        |   | : 
;    |.';  ;'  | |' | ,---.          .   ;   /  ` ;    .--. |  | :    ,--.--.   `--'_        |   | | 
`----'  |  ||  |   ,'/     \         ;   |  ; \ ; |  ,'_ /| :  . |   /       \  ,' ,'|     ,--.__| | 
    '   :  ;'  :  / /    /  |        |   :  | ; | '  |  ' | |  . .  .--.  .-. | '  | |    /   ,'   | 
    |   |  '|  | ' .    ' / |        .   |  ' ' ' :  |  | ' |  | |   \__\/: . . |  | :   .   '  /  | 
    '   :  |;  : | '   ;   /|        '   ;  \; /  |  :  | : ;  ; |   ," .--.; | '  : |__ '   ; |:  | 
    ;   |.' |  , ; '   |  / |         \   \  ',  . \ '  :  `--'   \ /  /  ,.  | |  | '.'||   | '/  ' 
    '---'    ---'  |   :    |          ;   :      ; |:  ,      .-./;  :   .'   \;  :    ;|   :    :| 
                    \   \  /            \   \ .'`--"  `--`----'    |  ,     .-./|  ,   /  \   \  /   
                 `----'              `---`                      `--`---'     ---`-'    `----'

</pre>

    </div>

    <main>
      {{ content }}
    </main>
  </body>
</html>
