<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <pre class="ascii-logo">
        ,----,                                                                                       
      ,/   .`|                                                                                       
    ,`   .'  :                           ,----..                                                     
  ;    ;     /                          /   /   \                                 ,--,         ,---, 
.'___,/    ,' __  ,-.                  /   .     :            ,--,              ,--.'|       ,---.'| 
|    :     |,' ,'/ /|                 .   /   ;.  \         ,'_ /|              |  |,        |   | : 
;    |.';  ;'  | |' | ,---.          .   ;   /  ` ;    .--. |  | :    ,--.--.   `--'_        |   | | 
`----'  |  ||  |   ,'/     \         ;   |  ; \ ; |  ,'_ /| :  . |   /       \  ,' ,'|     ,--.__| | 
    '   :  ;'  :  / /    /  |        |   :  | ; | '  |  ' | |  . .  .--.  .-. | '  | |    /   ,'   | 
    |   |  '|  | ' .    ' / |        .   |  ' ' ' :  |  | ' |  | |   \__\/: . . |  | :   .   '  /  | 
    '   :  |;  : | '   ;   /|        '   ;  \; /  |  :  | : ;  ; |   ," .--.; | '  : |__ '   ; |:  | 
    ;   |.' |  , ; '   |  / |         \   \  ',  . \ '  :  `--'   \ /  /  ,.  | |  | '.'||   | '/  ' 
    '---'    ---'  |   :    |          ;   :      ; |:  ,      .-./;  :   .'   \;  :    ;|   :    :| 
                    \   \  /            \   \ .'`--"  `--`----'    |  ,     .-./|  ,   /  \   \  /   
                     `----'              `---`                      `--`---'     ---`-'    `----'    
                     Tre Quaid's Terminal
    </pre>

    {{ content }}
  </div>
</body>
</html>
